body{
	background-color: #ed6161;
}

.container{
	background-color: #f2f2f2;
	width: 800px;
	height: 550px;
	margin: 40px auto;
	border-radius: 20px;
	border: .1px solid #f00c0c;
	box-shadow: 5px 5px 5px #2b2727;


}
.calculator{
	width: 320px;
	height: 500px;
	background-color: floralwhite;
	margin: 5px 50px 75px 450px;
	box-shadow: 5px 5px 5px #2b2727;
	top: 20px;
	position: relative;
	border-radius: 20px ;
	border: .1px solid #f00c0c;

}
#php{
	position: absolute;
	margin: 200px 0px 0px 100px;
	font-size: 50px;
}
.result{
	background-color: #ed6161;
	color: white;
	width: 295px;
	height: 200px ;
	margin: 12px 10px;
	position: absolute;
	border-radius: 20px;
	border: 1px solid #f00c0c;
	box-shadow: 1px 1px 1px #2b2727;

}
.display{
	/*background-color: #ed6161;
	color: white;
	width: 250px;
	height: 200px */;
	margin: 20px 20px;
	position: absolute;
	/*border-radius: 20px 0px;
	border: 1px solid #f00c0c;
	box-shadow: 1px 1px 1px #2b2727;*/
}
.input{
	
	width: 200px;
	height: 250px;
	position: absolute;
	margin: 0px 10px;
	border-radius: 0px 0px 20px 20px;
	border: 1px solid #f00c0c;
}
.opeator{
	background-color: #f5bfbf;
	width: 90px;
	height: 250px;
	margin: 230px 220px;
	border-radius: 0px 0px 20px 20px;
	border: 1px solid #f00c0c;

}
input{
	
	width: 70%;
	margin: 11px 0px;
	padding: 10px;
	border: 1px solid #f00c0c ;
	border-radius: 6px;
	outline: none;
	box-shadow: 5px 5px 5px #2b2727;
}
#num1{
	margin: 60px 0px 0px 22px;
}
#num2{
	margin: 30px 0px 0px 22px;
}
.opeator{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

.output{
	font-size: 80px;	
	color: white;
}
.output2{
	font-size: 20px;
	font-weight: bold;
	color: #f0ece9;
	
	/*color: black;*/
}
.underline{
	background-color: black;
	width: 230px;
	height: 5px;
	margin: 320px 0px 0px 100px;
	position: absolute;

}

	

}
